{% load static %}

<div class="container-fluid-p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light Rectangle-36">
        <a class="navbar-brand pl-3" href="/"><img
                src="{% static 'image\header\RIS_Logo.jpg' %}" alt="RIS_Logo" height="50" width="218"></a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <div class="login">
                <a href="#">
                    <button type="button" class="btn btn-orange"><i class="fa-solid fa-power-off" class="pr-1"></i>
                        Login
                    </button>
                </a>
            </div>
        </div>
    </nav>
</div>

