{% load static %}
<style>
    .bg-light{
        background-color: #ffffff!important;
        padding-left: 6em;
        padding-right: 6em;
    }

</style>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light pt-2">
  <a class="navbar-brand" href="/"><img src="{% static 'image\header\RIS_Logo.jpg' %}" alt="RIS_Logo" height="50" width ="218"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item active pr-3">
        <a class="nav-link" href="#"><h6>RIS Dashboard</h6> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h6>View More Insights</h6> </a>
      </li>
    </ul>
  </div>
</nav>
</div>