{% load static %}
{% load humanize %}
{{ my_num|intcomma }}

<!--MORRIS CHARTS CDN-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<style>
    .empty_placeholder{
        height:30vh;
        background: #FFFFFF;
        border: 0.6px solid #E8E8E8;
        box-sizing: border-box;
        box-shadow: 0px 4px 21px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.75rem;
        width:92%;
    }
    .TotalCumulativeDisbursement_with_Time_Chart_Card{
        height:30vh;
        background: #FFFFFF;
        border: 0.6px solid #E8E8E8;
        box-sizing: border-box;
        box-shadow: 0px 4px 21px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.75rem;
        width:92%;
    }
    #TotalCumulativeDisbursement_with_Time_Chart{
        width:100%;
        height:75%;
    }
    .SubModalityWise_NumberOfSlots_Chart_Card{
        height:30vh;
        background: #FFFFFF;
        border: 0.6px solid #E8E8E8;
        box-sizing: border-box;
        box-shadow: 0px 4px 21px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.75rem;
        width:92%;
    }
    #SubModalityWise_NumberOfSlots_Donut_Chart{
        width:100%;
        height:75%;
    }
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        color: #f58549;
    }
    .alert-info{
        color: #000;
        background-color: #fac3a4;
        border-color: #f58749;
        text-align: center;
        }
    .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem
    }

    tspan, text{
        font-size:0.85em !important;
        font-weight:500;
    }

@media screen and (max-width: 1500px) {
    .first_box_stat , .second_box_stat, .third_box_stat, .fourth_box_stat  {
        font-size: 1.5rem !important;
    }
    h4{
        font-size:1.65rem !important;
    }
}
</style>
<!-- Stats Card-->
<div class="container">
    <div class="row ">
        <!--  Dashboard Header      -->
        <div class="pt-4 text-center header">
            <h4><b>DevCopIndia Dashboard</b></h4>
        </div>

        <!-- Total Country Benefited In Current Year Card -->
        <div class="col-xl-11 col-md-11 mb-4 pt-4 ml-1">
            <div class="card border-left-primary shadow h-100 py-2 card-body-shadows">
                <div class="card-body pt-1 pb-1">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-12 flex-start pl-3">

                            <div class="h3 font-weight-bold  text-success mb-1 text-gray-800 text-center first_box_stat">

                                <i class="fa-solid fa-2xs fa-map-location-dot"> &nbsp;</i>

                                {{Total_Country_Benefited_Count|floatformat:"0"|intcomma}}
                            </div>
                        </div>
                        <div class="col-md-12 pl-3">
                            <div class="h6 mb-0 font-weight-bold text-gray-800"> Countries Benefited
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Total Disbursement Given In Million USD  -->
        <div class="col-xl-11 col-md-11 mb-4 ml-1">
            <div class="card border-left-primary shadow h-100 py-2 second_card-body-shadows">
                <div class="card-body pt-1 pb-1">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-12 flex-start pl-3">
                            <div class="h3 font-weight-bold  text-success text-gray-800 text-center second_box_stat">
                                <i class="fa-solid fa-circle-dollar-to-slot fa-2xs"> &nbsp;</i>

                                ${{Total_Disbursement_of_development_assistance|floatformat:"0"|intcomma}} M

                            </div>
                        </div>
                        <div class="col-md-12 pl-3">
                            <div class="h6 mb-0 font-weight-bold text-gray-800 ">Total Disbursement
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Total Disbursement For Line of Credit.. Card -->
        <div class="col-xl-11 col-md-12 mb-4 ml-1">
            <div class="card border-left-primary shadow h-100 py-2 third_card-body-shadows">
                <div class="card-body pt-1 pb-1">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-12 flex-start pl-3">
                            <div class="h3 font-weight-bold  text-success text-uppercase mb-1 text-gray-800 text-center third_box_stat">
                                <i class="fa-solid fa-credit-card fa-2xs"> &nbsp;</i>

                                {% for i in Total_Disbursement_Of_SubModalities %}
                                {% if i.Sub_Modalities == 'Lines of Credit' %}
                                ${{i.total|floatformat:"0"|intcomma}} M
                                {% endif%}
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-md-12 pl-3">
                            <div class="h6 mb-0 font-weight-bold text-gray-800">Lines of Credit
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Empty Card-->
        <div class="col-xl-11 col-md-12 mb-4 ml-1">
            <div class="card border-left-success shadow h-100 py-2 fourth_card-body-shadows">
                <div class="card-body pt-1 pb-1">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-12 flex-start pl-3">
                            <div class="h3 font-weight-bold  text-uppercase mb-1 text-gray-800 text-center fourth_box_stat">
                                <i class="fa-solid fa-credit-card fa-2xs"> &nbsp;</i>
                                {% for i in Total_Disbursement_Of_Modalities %}
                                {% if i.Modalities == 'Grant' %}
                                ${{i.total|floatformat:"0"|intcomma}} M
                                {% endif%}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 pl-3">
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                Grant
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- Left Side Graphs -->
<div class="container-fluid">

    <div class="TotalCumulativeDisbursement_with_Time_Chart_Card">

        <div class="h6 mb-0 font-weight-bold text-gray-800 text-center p-2" style="font-size:0.75em;">
            Cumulative Disbursement <br>($ Million) with Time
        </div>
        <div id="TotalCumulativeDisbursement_with_Time_Chart"></div>
    </div>
    <br>
    <div class="SubModalityWise_NumberOfSlots_Chart_Card">
        <div class="h6 mb-0 font-weight-bold text-gray-800 text-center p-2" style="font-size:0.75em;">
            Number of Slots Across <br>Sub-Modalities
        </div>
        <div id="SubModalityWise_NumberOfSlots_Donut_Chart"></div>
        <div class="alert alert-info" role="alert">
            <span id="morrisDonutChartSpan"></span>
        </div>
    </div>

</div>


<script>
/////// THIS STATIC RESPONSIVE CHART IS FOR CUMULATIVE DISBURSEMENT ////////
//----------------------------------------------------------------------//
///// LEFT SIDE SECTION -- ALL CHARTS ARE PLOTTED USING MORRIS JS ////
/* ------------------------------------
----------------CHART 1 BEGINS HERE ---------
-------------------------------------------------*/

// Converting Django Object Data to JSON Response Here First....
var TotalCumulativeDisbursement_with_Time = [
    {% for i in Total_Disbursement_with_Time_Static_Chart %}
        {% if not forloop.first %},{% endif %}
        {
        "Year" : "{{i.Year}}",
        "Cumulative_Disbursement_Frequency" : "{{i.Cumulative_Disbursement_Frequency}}"
        }
    {% endfor %}
]
TotalCumulativeDisbursement_with_Time.forEach(function(d) {
    d.Cumulative_Disbursement_Frequency = parseInt(d.Cumulative_Disbursement_Frequency,10);
});

//Getting Every 10th Year Observation
const every_nth = (arr, nth) => arr.filter((e, i) => i % nth === nth - 1);

var TwoDecadal_DisbursementTimeSeries = every_nth(TotalCumulativeDisbursement_with_Time,5);
//console.log(TwoDecadal_DisbursementTimeSeries)

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'TotalCumulativeDisbursement_with_Time_Chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: TwoDecadal_DisbursementTimeSeries,
  // The name of the data record attribute that contains x-values.
  xkey: 'Year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['Cumulative_Disbursement_Frequency'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Disbursement($M)']
});
/* ------------------------------------
----------------CHART 1 ENDS HERE ---------
-------------------------------------------------*/

//////// THIS STATIC RESPONSIVE CHART IS FOR SubModality_Wise_Number_Of_Slots_Utilized
/* ------------------------------------
----------------CHART 2 BEGINS HERE ---------
-------------------------------------------------*/
// Fetching object from backend and writing as JSON here
var SubModality_Wise_Number_Of_Slots_Utilized_JSON = [
    {% for i in SubModality_Wise_Number_Of_Slots_Utilized_Chart %}
        {% if not forloop.first %},{% endif %}

        {
        "label": "{{i.Sub_Modalities}}",
        "value": "{{i.Number_Of_Slots}}"
        }

    {% endfor %}
]
var hex= '#'
var colorPalette = [
    "#f4547a",
    "#554658",
    "#fa6f81",
    "#28a662",
    "#854dae",
    "#20e77a",
    "#a60ab3",
    "#24efd9",
    "#236c3f",
    "#edb096",
    "#ad948c",
    "#e70bd0",
    "#478613",
    "#48e591",
    "#1e3942",
    "#7d272",
    "#a8ff64",
    "#c5a2e0",
    "#3b3b1c",
    "#44ec21",
    "#cfe902",
    "#52dc4d",
    "#7d99b5"
]
//for(var i =0; i<SubModality_Wise_Number_Of_Slots_Utilized_JSON.length; i++){
//    colorPalette.push(hex.concat(Math.floor(Math.random()*16777215).toString(16)));
//}

var cleanedNumberOfSlots = [];
for(var i =0; i<SubModality_Wise_Number_Of_Slots_Utilized_JSON.length; i++){
    if(SubModality_Wise_Number_Of_Slots_Utilized_JSON[i].value > 0 ){
        cleanedNumberOfSlots.push(SubModality_Wise_Number_Of_Slots_Utilized_JSON[i])
    }
}
console.log(cleanedNumberOfSlots,'cleanedNumberOfSlots')

console.log(SubModalityWise_NumberOfSlots_Donut_Chart,'SubModalityWise_NumberOfSlots_Donut_Chart')

console.log(colorPalette,'Color_Addded')

new Morris.Donut({

  element: 'SubModalityWise_NumberOfSlots_Donut_Chart',

  data: cleanedNumberOfSlots,

  colors: colorPalette

});

$( "#SubModalityWise_NumberOfSlots_Donut_Chart" ).mouseover(function() {
	prepareMorrisDonutChart();
});

$( document ).ready(function() {
	prepareMorrisDonutChart();
});

function prepareMorrisDonutChart() {
	$("#SubModalityWise_NumberOfSlots_Donut_Chart tspan:first").css("display","none");
	$("#SubModalityWise_NumberOfSlots_Donut_Chart tspan:nth-child(1)").css("font-size","40px");

	var isi = $("#SubModalityWise_NumberOfSlots_Donut_Chart tspan:first").html();
	$('#morrisDonutChartSpan').text(isi);
	}

</script>
