{% load static %}

<!--Filters Section Starts Here-->
<div class="container filterBox">
    <form method="GET" id="filterForm" action="{% url 'RISDB' %}" style="margin-bottom: 0;">
        <div class="row justify_center">
            <div class="col-md-3 text-center pt-2 pr-3 pl-4 pr-4">
                <select name="YearFrom" id="YearFrom" class="form-control btn-light" style="color: #999">
                            <option value="" > Year From</option>
                            {% for i in Year_Choices %}
                            <option value="{{i.Year}}">{{i.Year}}</option>
                            {% endfor %}
                </select>
            </div>
                <div class="col-md-3 text-center pt-2 pl-4 pr-4" style="width:90%">
                        <select name="YearTo" id="YearTo" class="form-control btn-light" style="color: #999">
                            <option value="" > Year To</option>
                            {% for i in Year_Choices %}
                            <option value="{{i.Year}}">{{i.Year}}</option>
                            {% endfor %}
                        </select>
                    </div>


            <div class="col-md-3"><select class="form-control selectpicker p-2" data-actions-box='true' multiple
                                          data-live-search="true" name="PartnerRegion" id="PartnerRegion"
                                          title="Partner Region"
                                          data_load_dependent_sub_region_url="{% url 'Load_Dependent_Sub_Region_Filters' %}">
                {% for i in Partner_Region_Choices %}
                <option value="{{i.id}}">{{i.Partner_Region_Name}}</option>
                {% endfor %}
            </select></div>
            <div class="col-md-3"><select name="SubRegion" id="SubRegion" data-actions-box='true'
                                          class="form-control selectpicker p-2" multiple data-live-search="true"
                                          title="Sub Region"
                                          data_load_dependent_partner_country_url="{% url 'Load_Dependent_Partner_Country_Filters' %}">
                {% for i in Sub_Region_Choices %}
                <option value="{{i.id}}">{{i.Sub_Region_Name}}</option>
                {% endfor %}
            </select></div>

            </div>
            <div class="row">
                 <div class="col-md-3"><select name="PartnerCountry" id="PartnerCountry" data-actions-box='true'
                                          class="form-control selectpicker p-2" multiple data-live-search="true"
                                          title="Partner Country">
                {% for i in Partner_Country_Choices %}
                <option value="{{i.id}}">{{i.Partner_Country_Name}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-md-3"><select name="Modalities" id="Modalities" data-actions-box='true'
                                          class="form-control selectpicker p-2" multiple data-live-search="true"
                                          title="Modalities">
                {% for i in Modalities_Choices %}
                <option value="{{i.Modalities}}">{{i.Modalities}}</option>
                {% endfor %}
            </select></div>

            <div class="col-md-3"><select name="SubModalities" id="SubModalities" data-actions-box='true'
                                          class="form-control selectpicker p-2" multiple data-live-search="true"
                                          title="Sub Modalities">
                {% for i in SubModalities_Choices %}
                <option value="{{i.Sub_Modalities}}">{{i.Sub_Modalities}}</option>
                {% endfor %}
            </select></div>
            <div class="col-md-3 flex-end" >
                <input type="submit" value="Apply" class="btn btn-submit-orange ">
            </div>
        </div>
</form>
</div>

<!--Filters Section Ends Here-->