{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{{ my_num|intcomma }}
{% block title %} RIS - My Dashboard {% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<style>

</style>


<!--RIS_Project_Objects-->
<div class="container-fluid pt-4">
    <table id="example" class="table table-striped table-bordered pt-5" style="width:100%">
        <thead>
            <tr>
                <th>Year</th>
                <th>Partner Region</th>
                <th>Sub Region</th>
                <th>Partner Country</th>
                <th>Modalities</th>
                <th>Sub Modalities</th>
                <th>No of Slots Utilized</th>
                <th>Disbursement of development assistance ($M)</th>
                <th>Commitment of development assistance ($M)</th>
            </tr>
        </thead>
        <tbody>
        {% for i in RIS_Project_Objects %}
            <tr>
                <td>{{i.Year}}</td>
                <td>{{i.Partner_Region}}</td>
                <td>{{i.Sub_Region}}</td>
                <td>{{i.Partner_Country}}</td>
                <td>{{i.Modalities}}</td>
                <td>{{i.Sub_Modalities}}</td>
                <td>{{i.No_of_Slots_Utilized}}</td>
                <td>{{i.Disbursement_of_development_assistance_USD_million|floatformat:"0"|intcomma}}</td>
                <td>{{i.Commitment_of_development_assistance_USD_million|floatformat:"0"|intcomma}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



<!-- Script -->
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} )
</script>



{% endblock %}