{% extends 'base.html' %}
{% load static %}
{% block title %} RIS - Database {% endblock %}
{% block content %}

<!--For Maps---- Leaflet.js CDN  -->
<!--Leaflet CDN-->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<script src="{% static 'js/MapData/Country_Map_Dis_Com_Mod.js' %}"></script>

<!-- Country JS-->
<script src="{% static 'js/MapData/Country_JSON.js' %}"></script>
<!--Continent Map-->
<script src="{% static 'js/MapData/Continent_JSON.js' %}"></script>

<!--For Charts---- Charts.js CDN  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
#map {
    width: auto; height: 61vh;
    border-radius: 1em;
}
.info { padding: 6px 8px; font-size:1em; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 10px; height: 10px; float: left; margin-right: 8px; opacity: 0.7; }


</style>

<style>
.left_section{
    height:-webkit-fill-available;
    width:100%;
    background: rgb(251 251 251);
}

</style>

<style>

  .TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Card{
    height:37vh;
    width:100%;
    box-shadow: 0 4px 21px 1px rgba(0, 0, 0, 0.1);
    border: solid 0.6px #e8e8e8;
    background-color: #fff;


    border-radius: 1em;
  }
  .Total_Disbursement_With_Modality_polar_chart_card{
    height:37vh;
    width:100%;
    box-shadow: 0 4px 21px 1px rgba(0, 0, 0, 0.1);
    border: solid 0.6px #e8e8e8;
    background-color: #fff;
    border-radius: 1em;
  }
  canvas{
  height:90% !important;
  display:flex !important;
  align-items: center !important;
  justify-content:center !important;
  padding:0.5em;
}

.flex-start{
    display:flex;
    justify-content:flex-start;
}
.btn-primary-download{
    color: #232256;
    background-color: #f8f9fa;
    border-color: #a7a6e0;
    padding: 0.25em;
    margin-right: 0.75em;
    position:relative;
    left:94%;
}


</style>
<!--Home Page Is Divided Into 2 Sections Vertically  1-Left Side Stats View 2-Main Hero Container-->

<div class="container-fluid">
    <div class="row">
        <!--  Left Side Stats Cards View  -->
        <div class="col-md-3 lg-6 left_section">
            {% include 'partials\Left_Align_Summary_Stats_View.html' %}
        </div>

        <!-- Main Hero Section -->
        <div class="col-md-9 lg-6 pt-4">

            <div class="row">
                <!-- Top Filter Bar  -->
                <div class="col-md-12 pt-3">{% include 'partials\Top_Align_Filters.html' %}</div>

            </div>
            <!-- Time Series Charts and Graphs  -->
            <div class="row p-3">
                <div class="container pt-3">
                    <h5>
                        <b>Explore through interactive charts and map</b>
                    </h5>
                </div>
                <!-- Total  Cummulative ($M) Disbursement with Time -- Area Chart --->
                <div class="col-md-6 pt-3" style="display: flex; align-items: center;">
                    <div class="TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Card">
                        <canvas id="TotalCumulativeDisbursement_with_Time_Chart_Dynamic"></canvas>
                        <a id="download" download="Cumulative_Disbursement_With_Time.jpg" href="" class="btn-primary-download bg-flat-color-1" title="Export chart as image">
                            <i class="fa-solid fa-xs fa-download"> </i>
                            <!-- Download Icon -->
                            </a>
                    </div>
                </div>


                <!-- Total Disbursement by Modality    -->
                <div class="col-md-6 pt-3" style="display: flex; align-items: center;">
                    <div class="Total_Disbursement_With_Modality_polar_chart_card" >
                        <canvas id="Total_Disbursement_With_Modality_polar_chart"></canvas>
                        <a id="download-2" download="Cumulative_Disbursement_With_Time.jpg" href="" class="btn-primary-download bg-flat-color-1" title="Export chart as image">
                            <i class="fa-solid fa-xs fa-download"> </i>
                            <!-- Download Icon -->
                            </a>
                    </div>
                </div>
            </div>
            <!--  Map and Chart          -->
            <div class="row p-3">
                <div class="col-md-12">
                    <!-- For Map  -->

                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>


</div>

<!---->
<script>
///// -- ALL CHARTS ARE PLOTTED USING MORRIS JS ////
/* ------------------------------------
----------------CHART 1 BEGINS HERE ---------
-------------------------------------------------*/

// Converting Django Object Data to JSON Response Here First....
var Total_Disbursement_with_Time_Dynamic_Chart_JSON = [
    {% for i in Total_Disbursement_with_Time_Dynamic_Chart %}
        {% if not forloop.first %},{% endif %}
        {
        "Year" : "{{i.Year}}",
        "Cumulative_Disbursement_Frequency" : "{{i.Cumulative_Disbursement_Frequency}}"
        }
    {% endfor %}
]
Total_Disbursement_with_Time_Dynamic_Chart_JSON.forEach(function(d) {
    d.Cumulative_Disbursement_Frequency = parseInt(d.Cumulative_Disbursement_Frequency,10);
});

//Getting Every 5th Year Observation
const every_nth_dynamic_chart = (arr, nth) => arr.filter((e, i) => i % nth === nth - 1);
var TwoDecadal_DisbursementTimeSeries_Dynamic_Chart = every_nth_dynamic_chart(Total_Disbursement_with_Time_Dynamic_Chart_JSON,2);
console.log(TwoDecadal_DisbursementTimeSeries_Dynamic_Chart, 'TwoDecadal_DisbursementTimeSeries_Dynamic_Chart')


var TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Label=[]
var TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Value=[]

for(var i=0; i<TwoDecadal_DisbursementTimeSeries_Dynamic_Chart.length; i++){
    TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Label.push(TwoDecadal_DisbursementTimeSeries_Dynamic_Chart[i].Year);
    TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Value.push(TwoDecadal_DisbursementTimeSeries_Dynamic_Chart[i].Cumulative_Disbursement_Frequency)
}


// -- Area Chart Example
var ctx = document.getElementById("TotalCumulativeDisbursement_with_Time_Chart_Dynamic");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Label,
    datasets: [{
      fill: {
                target: 'origin',
                above: 'rgba(245, 135, 73,0.5)',   // Area will be red above the origin
                below: 'rgba(245, 135, 73,1)'    // And blue below the origin
              },
              label: "Cumulative Disbursement ($ Million)",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(245, 135, 73,1)",
      pointRadius: 4,
      pointBackgroundColor: "rgba(245, 135, 73,1)",
      pointBorderColor: "rgba(245, 135, 73,1)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 20,
      pointBorderWidth: 2,
      data: TotalCumulativeDisbursement_with_Time_Chart_Dynamic_Value,
    }],
  },
  options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins:{
        subtitle: {
                display: true,
                text: 'Source: Research and Information System For Developing Countries ',
                position:'bottom',
                padding: {
                    top: 10
                    }
            },
            title: {
                font:{
                    size:14
            },
                fontStyle:'bold',
                display: true,
                fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                text: 'Cumulative Disbursement ($ Million) with Time',
                padding: {
                    top: 15,
                    bottom: 15
                },

            },
             legend: {
               display: false
                     },
                     },



  }
});

// Export Chart Option
//Download Chart Image
document.getElementById("download").addEventListener('click', function(){
  /*Get image of canvas element*/
  var url_base64jp = document.getElementById("TotalCumulativeDisbursement_with_Time_Chart_Dynamic").toDataURL("image/jpg");
  /*get download button (tag: <a></a>) */
  var a =  document.getElementById("download");
  /*insert chart image url to download button (tag: <a></a>) */
  a.href = url_base64jp;
});
///////////////////////////////////////////////////////////////////////////////////////////////////////
//////////                 CHART 1 ENDS HERE                                     /////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////                 CHART 2 STARTS HERE                                  /////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////


// Converting Django Object Data to JSON Response Here First....
var Total_Disbursement_With_Modality_JSON = [
    {% for i in Total_Disbursement_With_Modality %}
        {% if not forloop.first %},{% endif %}
        {
        "Modalities" : "{{i.Modalities}}",
        "Disbursement_of_development_assistance_USD_million" : "{{i.total}}"
        }
    {% endfor %}
]


var Modalities_Label=[]
var Disbursement_Val=[]

for(var i=0; i<Total_Disbursement_With_Modality_JSON.length; i++){
    Modalities_Label.push(Total_Disbursement_With_Modality_JSON[i].Modalities);
    Disbursement_Val.push(Total_Disbursement_With_Modality_JSON[i].Disbursement_of_development_assistance_USD_million)
}


new Chart(document.getElementById("Total_Disbursement_With_Modality_polar_chart"), {
    type: 'bar',
    data: {
      labels: Modalities_Label,
      datasets: [
        {
          label: "Disbursement ($ Million)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: Disbursement_Val
        }
      ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        indexAxis: 'y',
      title: {
        display: true,
        text: 'Disbursement ($ Million)'
      },
      plugins:{

        subtitle: {
                display: true,
                text: 'Source: Research and Information System For Developing Countries ',
                position:'bottom',
                padding: {
                    top: 10
                    }
            },
            title: {
                font:{
                    size:14
            },
                fontStyle:'bold',
                display: true,
                fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                text: ' Disbursement ($ Million) by Modality',
                padding: {
                    top: 15,
                    bottom: 15
                },

            },
             legend: {
               display: false
                     },
                     },
    }
});
// Export Chart Option
//Download Chart Image
document.getElementById("download-2").addEventListener('click', function(){
  /*Get image of canvas element*/
  var url_base64jp = document.getElementById("Total_Disbursement_With_Modality_polar_chart").toDataURL("image/jpg");
  /*get download button (tag: <a></a>) */
  var a =  document.getElementById("download-2");
  /*insert chart image url to download button (tag: <a></a>) */
  a.href = url_base64jp;
});

</script>

<script>
/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////               MAP STARTS HERE                                  /////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

  var Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON = [
    {% for i in Region_Wise_Disbursement_of_development_assistance_USD_million_Commitment_of_development_assistance_USD_million_For_Mapping %}
        {% if not forloop.first %},{% endif %}
        {
            "Partner_Country": "{{i.Partner_Country}}",
            "Disbursement": "{{i.Disbursement}}",
            "Commitment": "{{i.Commitment}}",

        }
    {% endfor %}
  ]
// To Append Modalities in the Region Wise Map
var Partner_Country_and_Modalities_JSON =[
    {% for i in Partner_Country_and_Modalities %}
        {% if not forloop.first %},{% endif %}
        {
            "Partner_Country": "{{i.Partner_Country}}",
            "Modalities": "{{i.Modalities}}"
        }
    {% endfor %}
]

// Adding the desired properties of our data to geojson properies
var ContinentMapAddedProperties = CustomGeoJSON;
console.log(CountryMap, ": Before Adding Properties from our model")
var count =0;
for(var i =0; i<ContinentMapAddedProperties.features.length; i++){
    for(var j=0; j<Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON.length; j++){
        if(ContinentMapAddedProperties.features[i].properties.name == Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON[j].Partner_Country){
            count++;
            ContinentMapAddedProperties.features[i].properties['Disbursement']= Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON[j].Disbursement
            ContinentMapAddedProperties.features[i].properties['Commitment']= Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON[j].Commitment
        }
      }
}

console.log(Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON, 'Modality added')

    console.log(count,': Matched')
    console.log(ContinentMapAddedProperties, ": After Adding Properties from our model")
// Code For Leaflet Map Starts Here ----->

	var map = L.map('map').setView([20, 50], 1);
    	var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';
	var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

    map.setZoom(1);


	// control that shows state info on hover
	var info = L.control();

	info.onAdd = function (map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};

	info.update = function (props) {
		this._div.innerHTML = '' +  (props ?
			'<b>' + props.name + '</b><br/>' + 'Disbursement: $' + (Math.round(props.Disbursement * 100) / 100).toFixed(2) + 'M'+'</b><br />': 'Hover over a region');
	};
// + 'Modalities <br>' + 'Capacity Building: '+ (Math.round(props.Cap_Buildi * 100) / 100).toFixed(2)  + '<br> Concessional Finance:'+ (Math.round(props.Conc_Finan * 100) / 100).toFixed(2) + '<br> Grant:'+ (Math.round(props.Grant * 100) / 100).toFixed(2) + '<br> Multilateral: '+(Math.round(props.Multilater * 100) / 100).toFixed(2)  + '<br> Technology: ' + (Math.round(props.Technology * 100) / 100).toFixed(2) + '<br> Trade:'+ (Math.round(props.Trade * 100) / 100).toFixed(2)
	info.addTo(map);


	// get color depending on Disbursement value
	function getColor(d) {
		return d > 1000 ? '#800026' :
			d > 500  ? '#BD0026' :
			d > 300 ? '#E31A1C' :
			d > 200 ? '#FC4E2A' :
			d > 100   ? '#FD8D3C' :
			d > 50   ? '#FEB24C' :
			d > 0   ? '#FED976' : '#FFEDA0';
	}

	function style(feature) {
		return {
			weight: 2,
			opacity: 1,
			color: 'white',
			dashArray: '3',
			fillOpacity: 0.7,
			fillColor: getColor(feature.properties.Disbursement)
		};
	}

	function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 3,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

		info.update(layer.feature.properties);
	}

	var geojson;

	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		info.update();
	}

	function zoomToFeature(e) {
		map.fitBounds(e.target.getBounds());
	}

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: zoomToFeature
		});
	}

	/* global CountryMap */
	geojson = L.geoJson(CustomGeoJSON, {
		style: style,
		onEachFeature: onEachFeature
	}).addTo(map);

	map.attributionControl.addAttribution('&copy; <a href="https://www.ris.org.in/">Research Institute System For Developing Countries </a>');


	var legend = L.control({position: 'bottomright'});

	legend.onAdd = function (map) {

		var div = L.DomUtil.create('div', 'info legend');
		var grades = [0, 50, 100, 500, 1000, 2000];
		var labels = ['Disbursement <br> (in million $)'];
		var from, to;

		for (var i = 0; i < grades.length; i++) {
			from = grades[i];
			to = grades[i + 1];

			labels.push(
				'<i style="background:' + getColor(from + 1) + '"></i> ' +
				from + (to ? '&ndash;' + to : '+'));
		}

		div.innerHTML = labels.join('<br>');
		return div;
	};

	legend.addTo(map);

	//Adding Marker in Center Of Map





</script>

{% endblock %}