{% extends 'base.html' %}
{% load static %}
{% block title %} RIS - Database {% endblock %}
{% block content %}

<!--For Maps---- Leaflet.js CDN  -->
<!--Leaflet CDN-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>


<!-- Country JS-->
<script src="{% static 'js/MapData/Country_JSON.js' %}"></script>
<!--Continent Map-->
<script src="{% static 'js/MapData/Continent_JSON.js' %}"></script>

<!--For Charts---- Charts.js CDN  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
#map {
    width: auto; height: 50vh;
    border-radius: 1em;
}
.info { padding: 6px 8px; font-size:1em; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 10px; height: 10px; float: left; margin-right: 8px; opacity: 0.7; }

</style>

<style>
.left_section{
    height:-webkit-fill-available;
    width:100%;
    background: rgb(251 251 251);
}
</style>

<style>
  #regionwise_initiatives_card_bar-chart{
    height:40vh;
    width:100%;
    box-shadow: 0 4px 21px 1px rgba(0, 0, 0, 0.1);
    border: solid 0.6px #e8e8e8;
    background-color: #fff;
    border-radius: 1em;
  }
  #modality_wise_initiatives_card_horizontal-chart{
    height:40vh;
    width:100%;
    box-shadow: 0 4px 21px 1px rgba(0, 0, 0, 0.1);
    border: solid 0.6px #e8e8e8;
    background-color: #fff;
    border-radius: 1em;
  }
  #sector_wise_initiatives_card_horizontal-chart{
    height:40vh;
    width:100%;
    box-shadow: 0 4px 21px 1px rgba(0, 0, 0, 0.1);
    border: solid 0.6px #e8e8e8;
    background-color: #fff;
    border-radius: 1em;
  }

.flex-start{
    display:flex;
    justify-content:flex-start;
}


</style>
<!--Home Page Is Divided Into 2 Sections Vertically  1-Left Side Stats View 2-Main Hero Container-->

<div class="container-fluid">
    <div class="row">
        <!--  Left Side Stats Cards View  -->
        <div class="col-md-3 lg-6 left_section">
            {% include 'partials\Left_Align_Summary_Stats_View.html' %}
        </div>

        <!-- Main Hero Section -->
        <div class="col-md-9 lg-6 pt-3">

            <div class="row">
                <!-- Top Filter Bar  -->
                <div class="col-md-12 pt-3">{% include 'partials\Top_Align_Filters.html' %}</div>

            </div>
            <!-- Time Series Charts and Graphs  -->
            <div class="row p-3">
                <div class="container pt-3">
                    <h5>
                        <b>Explore through interactive charts</b>
                    </h5>
                </div>
                <div class="col-md-6 pt-2">
                    <!-- Region Wise Initiatives   -->
                    <div class="region_wise_initiatives_card">
                        <canvas id="regionwise_initiatives_card_bar-chart"></canvas>
                    </div>


                </div>
                <div class="col-md-6">
                    <!-- Sector Wise Initiatives    -->
                    <div class="pt-2">
                        <canvas id="sector_wise_initiatives_card_horizontal-chart"></canvas>
                    </div>
                </div>
            </div>
            <!--  Map and Chart          -->
            <div class="row p-3 pt-5">
                <div class="col-md-12">
                    <!-- For Map  -->
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>


</div>

<!---->
<script>

// Region Wise Initiatives Bar Chart
// Converting Django Object Data to JSON Response Here First....
var Region_Wise_Initiatives = [
    {% for i in Region_Wise_Number_Of_Projects %}
        {% if not forloop.first %},{% endif %}
        {
        "Partner_Region" : "{{i.Partner_Region}}",
        "Total_Initiatives" : "{{i.total}}"
        }
    {% endfor %}
]
var PartnerRegionLabel=[]
var TotalInitiatives=[]
for(var i=0; i<Region_Wise_Initiatives.length; i++){
    PartnerRegionLabel.push(Region_Wise_Initiatives[i].Partner_Region);
    TotalInitiatives.push(Region_Wise_Initiatives[i].Total_Initiatives)
}

new Chart(document.getElementById("regionwise_initiatives_card_bar-chart"), {
    type: 'bar',
    data: {
      labels: PartnerRegionLabel,
      datasets: [
        {
          label: "Total Initiatives",
          backgroundColor: ["#b51717", "#ffc300","#b51717","#ffc300","#ffc300"],
          data: TotalInitiatives
        }
      ]
    },
    options:{
    indexAxis: 'x',
    }

});

// Modality Wise Initiatives
// Converting Django Object Data to JSON Response Here First....
var Modality_Wise_Initiatives = [
    {% for i in Modality_Wise_Number_Of_Projects %}
        {% if not forloop.first %},{% endif %}
        {
        "Modality" : "{{i.Modalities}}",
        "Total_Initiatives" : "{{i.total}}"
        }

    {% endfor %}
]

var ModalitiesLabel=[]
var Total_Modality_Initiatives=[]
for(var i=0; i<Modality_Wise_Initiatives.length; i++){
    ModalitiesLabel.push(Modality_Wise_Initiatives[i].Modality);
    Total_Modality_Initiatives.push(Modality_Wise_Initiatives[i].Total_Initiatives)
}

    new Chart(document.getElementById("modality_wise_initiatives_card_horizontal-chart"), {
    type: 'radar',
    data: {
      labels:ModalitiesLabel,
      datasets: [
        {
          label: "Total Modality Initiatives",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: Total_Modality_Initiatives
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Total Modality Initiatives'
      },
      indexAxis:'y'
    }
});

// Sector Wise Initiatives
//sector_wise_initiatives_card_horizontal-chart

// Converting Django Object Data to JSON Response Here First....
var Sector_Wise_Initiatives = [
    {% for i in Sector_Wise_Number_Of_Projects %}
        {% if not forloop.first %},{% endif %}
        {
        "Sector" : "{{i.Sector}}",
        "Total_Initiatives" : "{{i.total}}"
        }

    {% endfor %}
]

var SectorLabel=[]
var Total_Sector_Initiatives=[]
for(var i=0; i<Sector_Wise_Initiatives.length; i++){
    SectorLabel.push(Sector_Wise_Initiatives[i].Sector);
    Total_Sector_Initiatives.push(Sector_Wise_Initiatives[i].Total_Initiatives)
}
new Chart(document.getElementById("sector_wise_initiatives_card_horizontal-chart"), {
    type: 'bar',
    data: {
      labels: SectorLabel,
      datasets: [
        {
          label: "Sector Wise Total Initiatives",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: Total_Sector_Initiatives
        }
      ]
    },options:{
    indexAxis: 'y',
    }

});




</script>

<script>
  var Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON = [
    {% for i in Region_Wise_Disbursement_of_development_assistance_USD_million_Commitment_of_development_assistance_USD_million_For_Mapping %}
        {% if not forloop.first %},{% endif %}
        {
            "Partner_Region": "{{i.Partner_Region}}",
            "Disbursement": "{{i.Disbursement}}",
            "Commitment": "{{i.Commitment}}"

        }
    {% endfor %}
  ]

  // Adding the desired properties of our data to geojson properies
  var ContinentMapAddedProperties = ContinentMap;
  console.log(ContinentMap, ": Before Adding Properties from our model")

  for(var i =0; i<ContinentMapAddedProperties.features.length; i++){
        for(var j=0; j<Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON.length; j++){
            if(ContinentMapAddedProperties.features[i].properties.name == Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON[j].Partner_Region){
                ContinentMapAddedProperties.features[i].properties['Disbursement']= Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON[j].Disbursement
                ContinentMapAddedProperties.features[i].properties['Commitment']= Region_Wise_Total_Number_Of_Project_Total_Disbursement_And_Total_Commitment_JSON[j].Commitment
            }
          }
    }
    console.log(ContinentMapAddedProperties, ": After Adding Properties from our model")
// Code For Leaflet Map Starts Here ----->

	var map = L.map('map').setView([20, 50], 1);

    	var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

	var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

    map.setZoom(1);


	// control that shows state info on hover
	var info = L.control();

	info.onAdd = function (map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};

	info.update = function (props) {
		this._div.innerHTML = '<h6><b>Summary Based on <br>Partner Regions </b></h4>' +  (props ?
			'<b>' + props.name + '</b><br/>' + 'Disbursement: $' +Math.round(props.Disbursement) + 'M'+'</b><br />' + 'Commitment: $' +Math.round(props.Commitment) + 'M' : 'Hover over a region');
	};

	info.addTo(map);


	// get color depending on Disbursement value
	function getColor(d) {
		return d > 1000 ? '#800026' :
			d > 500  ? '#BD0026' :
			d > 300 ? '#E31A1C' :
			d > 200 ? '#FC4E2A' :
			d > 100   ? '#FD8D3C' :
			d > 50   ? '#FEB24C' :
			d > 0   ? '#FED976' : '#FFEDA0';
	}

	function style(feature) {
		return {
			weight: 2,
			opacity: 1,
			color: 'white',
			dashArray: '3',
			fillOpacity: 0.7,
			fillColor: getColor(feature.properties.Disbursement)
		};
	}

	function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 3,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

		info.update(layer.feature.properties);
	}

	var geojson;

	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		info.update();
	}

	function zoomToFeature(e) {
		map.fitBounds(e.target.getBounds());
	}

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: zoomToFeature
		});
	}

	/* global CountryMap */
	geojson = L.geoJson(ContinentMapAddedProperties, {
		style: style,
		onEachFeature: onEachFeature
	}).addTo(map);

	map.attributionControl.addAttribution('&copy; <a href="https://www.ris.org.in/">Research Institute System For Developing Countries </a>');


	var legend = L.control({position: 'bottomright'});

	legend.onAdd = function (map) {

		var div = L.DomUtil.create('div', 'info legend');
		var grades = [0, 50, 100, 500, 1000, 2000];
		var labels = ['Disbursement <br> (in million $)'];
		var from, to;

		for (var i = 0; i < grades.length; i++) {
			from = grades[i];
			to = grades[i + 1];

			labels.push(
				'<i style="background:' + getColor(from + 1) + '"></i> ' +
				from + (to ? '&ndash;' + to : '+'));
		}

		div.innerHTML = labels.join('<br>');
		return div;
	};

	legend.addTo(map);

	//Adding Marker in Center Of Map




</script>

{% endblock %}